<main>
  <h2>Contato</h2>
  <form method="post" action="/contact#contact_form">
    <input type="text" name="contact[name]" placeholder="Nome" required>
    <input type="email" name="contact[email]" placeholder="Email" required>
    <textarea name="contact[body]" placeholder="Mensagem" required></textarea>
    <button type="submit">Enviar</button>
  </form>
</main> 