.collection-list{
    .product-card{
        width: 100%;
        min-width: unset !important;
        @include small{
            h3{
                font-size: 13px;
            }
            .payment-pix{
                font-size: 11px;
            }
        }
    }

    @include desktop{
        #sidebar-overlay{
            display: none;
        }
    }

    @include small{
        #sidebar-overlay,
        #sidebar-container{
            &:not(.active){
                display: none;
            }
        }
        
        #sidebar-overlay.active{
            opacity: 1;
            visibility: visible;
        }
    }
}