:root {
  --primary-color: #000000;
  --secondary-color: #ffffff;
  --accent-color: #facc15;
  --font-main: 'Montserrat', sans-serif;
  --border-radius: 0.5rem;
  --transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
} 